// Colors ----------------------------------------
$backgroundWhite: #F5F5F5;
$backgroundLight: rgb(239, 236, 236);
$backgroundMedium: #595F67;
$backgroundDark: #363D46;
$backgroundHeader: rgba(30, 32, 34, 0.888);
$backgroundDarkTransparent: #282c31e4;
$fontLight: #DFE0DC;
$fontDark: rgb(83, 83, 83);
$fontNav: gray;
$fontNavHover: #dea97b;
$imgOverlay: #363d4644;
$borderTransparent: rgba(157, 156, 156, 0.431);

// Fonts -----------------------------------------
$fontPrint:  'Montserrat', sans-serif;
$fontCursive: 'Khalila', sans-serif;