// Colors ----------------------------------------
$backgroundWhite: #F5F5F5;
$backgroundLight: rgb(239, 236, 236);
$backgroundMedium: #595F67;
$backgroundDark: #363D46;
$backgroundDarkTransparent: #282c31d7;
$fontLight: #DFE0DC;
$fontDark: rgb(83, 83, 83);
$fontNav: gray;
$fontNavHover: #dea97b;
$imgOverlay: #363d4644;

// Fonts -----------------------------------------
$fontPrint:  'Montserrat', sans-serif;
$fontCursive: 'Khalila', sans-serif;